<!DOCTYPE html>
<html>
    <head>
       
        
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <link rel="stylesheet" type="text/css" href="../css/index.css">
        <title>Home</title>
    </head>
    <body>
        <div class="app">
            <div class="corpo-pagina">
                <div class="menu-home">
                    <a href="Paginas/Inicio.html" target="pag-home-iframe"><nav id="home-btn"><img src="images/Home.png" /> <b>Home</b></nav></a>
                    <a href="Paginas/Contato.html" target="pag-home-iframe"><nav id="home-btn1"><img src="images/contact.png" /><b>Contato</b></nav></a>
</div>
                <div class="pag-home">
                    <iframe src="Paginas/Inicio.html" frameborder="0" width="100%" height="100%" name="pag-home-iframe"></iframe>

                </div>
            </div>
            <div class="rodape">


            </div>

        </div>
        <script type="text/javascript" src="../cordova.js"></script>
        <script type="text/javascript" src="../scripts/platformOverrides.js"></script>
        <script type="text/javascript" src="../scripts/index.js"></script>
    </body>
</html>
