<!DOCTYPE html>
<html>
    <head>
       
        
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <link rel="stylesheet" type="text/css" href="../../css/index.css">
        <title>Contato</title>
    </head>
    <body>
        <div class="app">
            <div class="corpo-pagina">
                <div class="identif-dir"><div class="menu-identificacao-dir"></div></div>
                <div class="contato">
                    <a href="https://api.whatsapp.com/send?phone=5574999962175" target="_blank"><div class="Whatsapp"><img src="../../images/Whatsapp.png" /><b>Iniciar uma conversa através do Whatsapp</b></div></a>
                    <a href="tel:+55074999962175" target="_blank"><div class="Telefone"><img src="../images/contact.png" /><b>Salvar o nosso número de telefone</b></div></a>
                    <a href="https://www.facebook.com/redepiemonteonline/" target="_blank"><div class="Facebook"><img src="../../images/Facebook.png" /><b>Acessar a nossa página do Facebook</b></div></a>
                    <a href="https://goo.gl/forms/9j50nBDBg6upkhjF2" target="_blank"><div class="formulario"><img src="../images/formulario.png" /><b>Enviar uma mensagem direto para a nossa equipe</b></div></a>


                </div>
            </div>
            <div class="rodape">


            </div>

        </div>
        <script type="text/javascript" src="../../cordova.js"></script>
        <script type="text/javascript" src="../../scripts/platformOverrides.js"></script>
        <script type="text/javascript" src="../../scripts/index.js"></script>
    </body>
</html>
